@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ==== Global ====*/

body {
  margin: 0;
  background-color: #101010;
  background-position: bottom;
  background-size: cover;
  /* overflow-x: hidden; */
}

section{
    height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ==== Navigation Menu ==== */
.nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  color: #9fd45f;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin: 0 30px;
}

.chunky {
  display: block;
  margin-top: 0.5vmax;
  margin-left: 0.5vmax;
  height: 20px;
  width: 30px;
  border-radius: 75%;
  opacity: 0.5;
}

/* ==== Principal Screen ==== */

header{
  display: flex;
  width: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(/Images/code_background.webp);
  background-position: bottom;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.photo {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 25vh;
  border-radius: 50%;
}

.header-content {
  text-align: center;
}

.hi {
  margin-bottom: 2vh;
  font-size: 6vmin;
  color: #e3bd69;
}

.header-content h1 {
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-size: 5vmin;
  color: #d4d3d1;
}

.line {
  margin: auto;
  margin-bottom: 2vh;
  width: 40vw;
  height: 0.5vh;
  border-radius: 5px;
  background-color: #9fd45f;
}

.profession {
  margin-top: 0;
  margin-bottom: 10%;
  font-size: 5vmin;
  color: #c48b61;
}

.download{
  display: inline-block;
  color:white;
  font-weight: bold;
  padding: 8px 15px;
  background:#178c27;
  border-radius: 25px;
}

.buton-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 17%;
  height: auto;
  cursor: pointer;
}

/* ===== About me ===== */

.about-columns{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 72%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3%;
}

.about-content{
  text-align: justify;
}

p{
  padding-top: 5%;
  padding-bottom: 5%;
font-size: 4vmin;
  color: #d4d3d1;
}

.tokio-photo{
  overflow: hidden;
  border-radius: 5%;
}

.tokio{
  display: block;
  height: 100%;
  width: auto;
  opacity: 0.8;
}




/* ===== Skills ===== */

h1{
    margin-bottom: 3%;
    text-align: center;
    font-size: 6vmin;
    color: #e3bd69;
}

.rows {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  row-gap: 20%;
}

.skill {
    width: 25%;
  display: flex;
  flex-direction: column;
}

.skill #java{
  margin-left: -25%;
  width: 150%;
}

.skill #git-logo{
  margin-bottom: 12%;
}

h4 {
  text-align: center;
  color: #d4d3d1;
  font-size: 3vmin;
}

/* Mobile responsive */

@media only screen and (max-width: 850px) {
  .nav {
    padding: 0;
  }

  .chunky {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 8%;
    height: auto;
  }

  .nav-menu {
    flex-direction: column;
    margin-top: -900px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: #0c1602;
    transition: all 0.5s ease;
  }

  .mobile-menu {
    margin-top: 0px;
  }

  .nav-menu li {
    margin: 30px;
  }

  .buton-menu {
    display: block;
  }
}
